.background {
    background: fixed;
    background-image: url(forest.jpg);
     background-repeat: no-repeat;
     background-position: center center;
     background-attachment: fixed;
     -webkit-background-size: cover;
     -moz-background-size: cover;
     -o-background-size: cover;
     background-size: cover;
}

.but {
     
     appearance: none;
     border: 0;
     border-radius: 5px;
     color: red;
     background-color: transparent;
     font-size: 16px;
     margin-top: 20px;
     margin-left: 20px;
     font-size: 25px;
}

A {
     text-decoration: none;
     
}

 A:visited {
     color: #cecece; 
     text-decoration: none;
}
  A:active {
     color: green;
}



.photo_p {
     position: relative;
     top: 250px;
     left: 1000px;
     width: 250px;
}

